.mainMenu {
  margin: 0 auto;
  max-width: 630px;
  border-top: 3px solid #000;
  animation: fade-in 1s ease-in forwards;
  padding: 32px 8px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
