.main-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 32px 0;

  &__image-container {
    width: 180px;

    img {
      width: 100%;
      animation: fade-in 0.5s ease-in forwards;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
